<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="ad.css">
    <link rel="stylesheet" href="/static/css/about.css">
    <title>E-Bus Pass</title>
    <link rel = "icon" href = https://image.shutterstock.com/image-vector/school-bus-vector-illustration-isolated-260nw-567637837.jpg type = "image/x-icon" style="width: 25px">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#"> -->
            <img src="/static/images/busicon.jpg" alt="Logo" style="width:70px;" class="rounded-pill">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item ebuspass">E-BUS PASS</li>
                <li class="nav-item">
                  <a class="nav-link home" href="home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link About Us" href="aboutus">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link Contact" href="contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link Admin" href="admin">Admin</a>
                  </li>
            </ul>    
        </div>
    </nav>
  
  <div class="whole">
   <div class="page">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex justify-content-center align-items-center">
            <marquee class="news-scroll" behavior="scroll" direction="left" loop="infinite" onmouseover="this.stop();" onmouseout="this.start();">Students are expected to make the payments before 31st Deceember 2021!!!</marquee>
          </div>
          <br>
          <div id="para" data-aos="zoom-in-down">The College has a fleet of 32 buses for students and staff from Karkala, Mangaluru, Udupi, Kundapur, Bantwal, Belthangady. Around 900 students from various parts of the region use these bus services for conveyance to and from the College.</div>
        </div>
      </div>
    <div class="accordion" id="accordionExample" data-aos="zoom-out-up">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            SURATHKAL-NITTE
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <table class="table table-striped" >
              <thead class="table-dark">
                <tr> 
                  <th scope="col">Sl.No</th>
                  <th scope="col">Name of the Stop</th>
                  <th scope="col">Time</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Surathkal</td>
                  <td>7.30 AM</td>
                  <td>16300.0</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Marigudy</td>
                  <td></td>
                  <td>16300.0</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>N.I.T.K Bus Stand</td>
                  <td></td>
                  <td>16300.0</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Mukka Bus Stand</td>
                  <td></td>
                  <td>16300.0</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Haleangadi</td>
                  <td></td>
                  <td>13200.0</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Nitte</td>
                  <td>8.35 AM</td>
                  <td></td>
                </tr>
              </tbody>
          </table>
          </div>
        </div>
      </div>
      <div class="accordion-item" >
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            LALBHAG-KATEEL-NITTE
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <table class="table table-striped">
              <thead class="table-dark">
                <tr> 
                  <th scope="col">Sl.No</th>
                  <th scope="col">Name of the Stop</th>
                  <th scope="col">Time</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Lalbhag</td>
                  <td>7.00 AM</td>
                  <td>21700.0</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Bejai</td>
                  <td></td>
                  <td>21700.0</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Kavoor</td>
                  <td></td>
                  <td>21700.0</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Bajpe</td>
                  <td></td>
                  <td>16300.0</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Kateel</td>
                  <td></td>
                  <td>13200.0</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>Nitte</td>
                  <td>8.35 AM</td>
                  <td></td>
                </tr>
              </tbody>
          </table>
          </div>
        </div>
      </div>
      <div class="accordion-item" >
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            MANGALORE-PADUBIDRI-NITTE
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <table class="table table-striped">
              <thead class="table-dark">
                <tr> 
                  <th scope="col">Sl.No</th>
                  <th scope="col">Name of the Stop</th>
                  <th scope="col">Time</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Hampankatte</td>
                  <td>7.05 AM</td>
                  <td>21700.0</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Bunts Hostel</td>
                  <td></td>
                  <td>21700.0</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>LadyHill</td>
                  <td></td>
                  <td>21700.0</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Kottara</td>
                  <td></td>
                  <td>21700.0</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Padubidri</td>
                  <td></td>
                  <td>11200.0</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>Nitte</td>
                  <td>8.35 AM</td>
                  <td></td>
                </tr>
              </tbody>
          </table>
          </div>
        </div>
      </div>
      <div class="accordion-item" >
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
            MANGALORE-MOODABIDRI-NITTE
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <table class="table table-striped">
              <thead class="table-dark">
                <tr> 
                  <th scope="col">Sl.No</th>
                  <th scope="col">Name of the Stop</th>
                  <th scope="col">Time</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Kankanady</td>
                  <td>7.00 AM</td>
                  <td>21700.0</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Nanthur</td>
                  <td></td>
                  <td>21700.0</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Vamanjur</td>
                  <td></td>
                  <td>21700.0</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Kaikamba</td>
                  <td></td>
                  <td>16300.0</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Moodabidri</td>
                  <td></td>
                  <td>13200.0</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>Nitte</td>
                  <td>8.35 AM</td>
                  <td></td>
                </tr>
              </tbody>
          </table>
          </div>
        </div>
      </div>
      <div class="accordion-item" >
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
            DERALKATTE-MANGALORE-NITTE
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <table class="table table-striped">
              <thead class="table-dark">
                <tr> 
                  <th scope="col">Sl.No</th>
                  <th scope="col">Name of the Stop</th>
                  <th scope="col">Time</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Thokkottu</td>
                  <td>7.00 AM</td>
                  <td>21700.0</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Pumpwell</td>
                  <td></td>
                  <td>21700.0</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>KPT</td>
                  <td></td>
                  <td>21700.0</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Kulur</td>
                  <td></td>
                  <td>16300.0</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Belman</td>
                  <td></td>
                  <td>11000.0</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>Nitte</td>
                  <td>8.35 AM</td>
                  <td></td>
                </tr>
              </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>
</div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 100,
            duration: 1750,
        });
    </script>
    
</body>
</html>