{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/static/css/contact.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>E-Bus Pass</title>
    <link rel="icon"
        href=https://image.shutterstock.com/image-vector/school-bus-vector-illustration-isolated-260nw-567637837.jpg
        type="image/x-icon" style="width: 25px">
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#"> -->
            <img src="/static/images/busicon.jpg" alt="Logo" style="width:70px;" class="rounded-pill">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item ebuspass">E-BUS PASS</li>
                <li class="nav-item ">
                    <a class="nav-link home" href="home.html">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link AboutUs" href="aboutus">About</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link Contact" href="contact">Contact</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link Admin" href="admin">Admin</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="page">
        <h1 data-aos="fade-down">CONTACT US</h1>
        <div id="container">
            <div class="box1" data-aos="fade-right">
                <div class="heading11">REACH US</div>
                <div class="row1">NMAM Institute of Technology</div>
                <div class="row1">Nitte, Karkala Taluk,</div>
                <div class="row1">Udupi - 574110</div>
                <div class="row1">Karnataka, India</div>
                <br>
                <div class="row1">+91 – 8258 – 281263 / 281264 / 281248 <br>
                    / 281461 / 281462 / 281463 / 281349</div>
                <div class="row1">+91 - 8258 - 281039</div>
                <div class="row1">principal_nmamit@nitte.edu.in</div>
                <div class="row1">www.nmamit.nitte.edu.in</div>
            </div>
            <div class="box1" data-aos="fade-left">
                <div class="heading11">CAMPUS CONTACTS</div>
                <div class="row1"><span class="row2">Dean (Admissions) :</span> krshetty@nitte.edu.in</div>
                <div class="row1"><span class="row2">Registrar :</span> reg_nitte@nitte.edu.in</div>
                <div class="row1"><span class="row2">Chief Warden :</span> chiefwarden@nmamit.in</div>
                <div class="row1"><span class="row2">Vice Principal & Dean (Academics) :</span>
                    viceprincipal.nmamit@nitte.edu.in</div>
                <div class="row1"><span class="row2">Public Relations Officer :</span> krishnaraja@nitte.edu.in</div>
                <div class="row1"><span class="row2">Exam :</span> coe.nmamit@nitte.edu.in</div>
                <div class="row1"><span class="row2">Student Welfare Officer :</span> poojari.shekar@nitte.edu.in</div>
            </div>
        </div>
    </div>
    <div id="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3884.6729703344217!2d74.93180031384588!3d13.18300781377329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbb56415ad85e5b%3A0x10b77ac6f6afc7fa!2sN.M.A.M.%20Institute%20of%20Technology!5e0!3m2!1sen!2sin!4v1635912111263!5m2!1sen!2sin"
            width="800" height="600" style="border: 10px solid whitesmoke;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div id="box3">
        <div id="footer">
            <div class="part3" data-aos="fade-up" data-aos-duration="1000">
                <div class="column">ABOUT US</div>
                <div class="row111">About NMAMIT</div>
                <div class="row111">Vision,Mission & Core Values</div>
                <div class="row111">Quality Policy</div>
                <div class="row111">Accreditation</div>
                <div class="row111">Rankings</div>
            </div>
            <div class="part3" data-aos="fade-up" data-aos-duration="1000">
                <div class="column">QUICK LINKS</div>
                <div class="row111">Student Login</div>
                <div class="row111">Admin Login</div>
                <div class="row111">Admissions</div>
                <div class="row111">Cicular</div>
                <div class="row111">News & Events</div>
            </div>
            <div class="part3" data-aos="fade-up" data-aos-duration="1000">
                <br>
                <div class="row111">Results</div>
                <div class="row111">Syllabus</div>
                <div class="row111">Programs</div>
                <div class="row111">Placements</div>
            </div>
            <div class="part3" data-aos="fade-up" data-aos-duration="1000">
                <div class="column">CONTACT</div>
                <div class="row222">NMAM Institute of Technology</div>
                <div class="row222">Nitte, Karkala Taluk,</div>
                <div class="row222">Udupi - 574110</div>
                <div class="row222">Karnataka, India</div>
                <br>
                <div class="row333">Phone : +91 - 8258 - 281039</div>
                <div class="row333">E-mail : principal_nmamit@nitte.edu.in</div>
                <div>
                    <!--<hr
	    		style="width: 350px; border-color: white; border-width: 2px; display: inline-block; margin-top: 45px;"> -->
                    <a href="https://www.facebook.com/NITTEedu" target="_blank" class="icoFacebook"
                        title="Facebook"><img class="apps" src="/static/images/fb.png"></a>
                    <a href="https://www.instagram.com/nitteeducation/" target="_blank" class="icoInstagram"
                        title="Instagram"><img class="apps" src="/static/images/insta.png"></a>
                    <!-- <img class="apps" src="img/linkedin.png"> -->
                    <a href="https://twitter.com/aboutnitte" target="_blank" class="icoTwitter" title="Twitter"><img
                            class="apps" src="/static/images/twitter.png"></a>
                    <a href="https://www.youtube.com/channel/UCNln_L2YkP-QCFLfIDumNZQ" target="_blank"
                        class="icoYoutube" title="Youtube"><img class="apps" src="/static/images/yt.png"></a>
                    <a href="https://api.whatsapp.com/send?phone=917204093646&text=To%20know%20more%20about%20any%20course%20offered%20by%20Nitte,%20please%20furnish%20the%20following%20details:%0aName:%0aPhone:%0aEmail%20Id:%0aCourse:%0aCity:%0aState:"
                        target="_blank" class="icoWhatsapp" title="Whatsapp"><img class="apps"
                            src="/static/images/outline_whatsapp_white_24dp.png" style="width: 26px; height: 25px;"></a>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init({
                offset: 100,
                duration: 2000,
            });
        </script>
</body>

</html>